@{
    ViewData["Title"] = "Home Page";
}

@using  RentQuest.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@*@using Microsoft.AspNetCore.Identity
    @inject SignInManager<IdentityUser> SignInManager
    @inject UserManager<IdentityUser> UserManager*@

@*@{
        int count = 0;
        List<Circulations> circulations = HttpContextAccessor.HttpContext.Session.Get<List<Circulations>>("circulations");
        if (circulations == null)
        {
            circulations = new List<Circulations>();
        }
        count = circulations.Count();
    }*@


<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" asp-area="Owner" asp-controller="Owner" asp-action="Index">P3S<span>Leasing</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" asp-area="Owner" asp-controller="Owner" asp-action="Index">Home</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="Owner" asp-controller="Owner" asp-action="ReceivedReq">Received Requests</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="Owner" asp-controller="OwCirc" asp-action="Index">Manage your Properties</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="Owner" asp-controller="Owner" asp-action="Index">@ViewBag.sessionv</a></li>


                <li class="nav-item cta"><a asp-area="Unregistered" asp-controller="Unreg" asp-action="Index" class="nav-link ml-lg-2"><span class="icon-user"></span> Sign-out</a></li>


            </ul>
        </div>
    </div>
</nav>

<section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image:url(/Content/images/bp.jpg);">
        <div class="overlay"></div>
    </div>


    <div class="slider-item" style="background-image:url(/Content/images/b.jpg);">
        <div class="overlay"></div>
    </div>



    <div class="slider-item" style="background-image:url(/Content/images/bg_2.jpg);">
        <div class="overlay"></div>
    </div>
</section>
@*<p>
        @if (!string.IsNullOrEmpty(ViewBag.sessionv))
        {
        <h2>welcome @ViewBag.sessionv</h2>
        }

    </p>*@